<manifest package="com.artshell.glidev3"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- 为Glide框架注册GlideModule -->
        <meta-data
            android:name="com.artshell.glidev3.ImgGlideModule"
            android:value="GlideModule"/>
    </application>
</manifest>
